protocols = imap pop3
listen = *
mail_location = maildir:~/{{ mail_dir }}
ssl = no
disable_plaintext_auth = no
auth_mechanisms = plain login
userdb {
  driver = passwd
}
passdb {
  driver = pam
}
service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
    user = postfix
    group = postfix
  }
} 