myhostname = {{ mail_server_hostname }}.{{ domain }}
mydomain = {{ domain }}
myorigin = $mydomain
inet_interfaces = all
inet_protocols = all
mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain
home_mailbox = {{ mail_dir }}/
mynetworks = 127.0.0.0/8, 192.168.60.0/24
smtpd_banner = $myhostname ESMTP
biff = no
append_dot_mydomain = no
readme_directory = no
smtpd_tls_cert_file = /etc/pki/tls/certs/{{ mail_server_hostname }}.{{ domain }}.crt
smtpd_tls_key_file = /etc/pki/tls/private/{{ mail_server_hostname }}.{{ domain }}.key
smtpd_use_tls = yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = {{ mail_server_hostname }}.{{ domain }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases 